.u-section-1 {
  background-image: url("images/backgrounditempohonkelapapage1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-slider-1 {
  width: 440px;
  min-height: 584px;
  margin: 188px -37px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -17px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/GulaKelapa.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/Briket.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/Cocofiber.jpg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-group-1 {
  width: 616px;
  min-height: 604px;
  margin: -458px auto 60px -35px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 21px;
}

.u-section-1 .u-text-1 {
  font-family: "Roboto Condensed";
  letter-spacing: 3px;
  line-height: 0.8;
  text-align: left;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 58px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Roboto Condensed";
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 58px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 58px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 14px 23px 14px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-group-1 {
    width: 569px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 500px;
    width: 680px;
    margin-top: 140px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    min-height: 414px;
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 471px;
    width: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 80px;
    height: 80px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 80px;
    height: 80px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 21px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 23px 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 248px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 386px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 17px;
    margin-bottom: 58px;
    min-height: 511px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 6px 11px 7px 10px;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 {
  background-image: url("images/backgrounditempohonkelapapage2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 57px;
}

.u-section-2 .u-layout-cell-1 {
  animation-timing-function: ease-in-out;
  min-height: 637px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 398px;
  height: 398px;
  background-image: url("images/Coconuttree.jpg");
  background-position: 52.51% 50%;
  box-shadow: 0 0 15px 0 rgba(128, 128, 128, 1);
  margin: 47px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 255px;
  object-position: 50% 100%;
  background-image: url("images/GulaKElapa.jpg");
  background-position: 50% 50%;
  box-shadow: 0 0 15px 0 rgba(128, 128, 128, 1);
  margin: -151px 26px 0 auto;
}

.u-section-2 .u-image-3 {
  background-image: url("images/Coconuttree.jpg");
  background-position: 50% 50%;
  margin-top: 88px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 637px;
  animation-timing-function: ease-in-out;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  min-height: 99px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease-in-out;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  animation-timing-function: ease-in-out;
  font-weight: normal;
  margin: 30px 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 158px;
    height: 158px;
    margin-top: -79px;
    margin-right: 9px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 53px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 29px 0 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 393px;
    height: 393px;
    margin-top: 124px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 247px;
    height: 247px;
    margin-top: -143px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -627px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 528px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 80px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-image-2 {
    width: 258px;
    height: 258px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 174px;
    height: 174px;
    object-position: 50% 100%;
    margin-top: -126px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-2 .u-group-1 {
    min-height: 68px;
    margin-top: -441px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 381px;
  }
}

.u-section-3 {
  background-image: url("images/bgpage4.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 523px;
}

.u-section-3 .u-text-1 {
  font-family: Roboto, sans-serif;
  width: 450px;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 344px;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: -9px 6px 10px 0px rgba(128, 128, 128, 1);
  padding: 24px 19px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 16px 0 0 2px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 16px 0 0 2px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 367px;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: -6px 3px 10px 0 rgba(128, 128, 128, 1);
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0);
  padding: 12px 19px;
}

.u-section-3 .u-icon-2 {
  height: 87px;
  width: 87px;
  margin: 5px auto 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 1px;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 16px 1px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 344px;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 6px 3px 10px 0 rgba(128, 128, 128, 1);
  text-shadow: 6px 3px 10px rgba(0, 0, 0, 0);
  padding: 24px 18px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 72px;
  margin: 0 81px 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 16px 0 0 4px;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 16px 2px 0;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 367px;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 9px 3px 10px 0 rgba(128, 128, 128, 1);
  text-shadow: 9px 3px 10px rgba(0, 0, 0, 0);
  padding: 12px 19px;
}

.u-section-3 .u-icon-4 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px 1px 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 16px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-1 {
    font-family: "Roboto Condensed";
    margin-top: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 64px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-4 {
    width: 105px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
  }

  .u-section-3 .u-icon-3 {
    height: 57px;
    width: 105px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }
}

.u-section-4 {
  background-image: url("images/bgpage5.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 557px;
}

.u-section-4 .u-group-1 {
  width: 404px;
  min-height: 100px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Baloo;
  font-size: 3rem;
  margin: 24px auto 0;
}

.u-section-4 .u-slider-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 375px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-shape-1 {
  width: 272px;
  height: 272px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 276px;
  height: 276px;
  margin: -236px auto 0 38px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: -276px 0 0 375px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 375px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 375px;
  padding: 10px 48px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-shape-2 {
  width: 272px;
  height: 272px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 276px;
  height: 276px;
  margin: -236px auto 0 38px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  margin: -276px 0 0 377px;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0 377px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 377px;
  padding: 10px 49px;
}

.u-section-4 .u-carousel-control-1 {
  width: 51px;
  height: 51px;
}

.u-section-4 .u-carousel-control-2 {
  width: 51px;
  height: 51px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-4 .u-group-1 {
    min-height: 76px;
    margin-top: 42px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 38px;
    margin-bottom: 22px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 261px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 290px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-group-1 {
    min-height: 104px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 420px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 55px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 334px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    margin-left: 334px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-right: 140px;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 24px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 334px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-5 {
    margin-left: 334px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-4 .u-group-1 {
    width: 270px;
    min-height: 86px;
    margin-top: 30px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 17px;
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 36px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 55px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 50px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-4 .u-group-1 {
    min-height: 79px;
    width: 304px;
    margin-top: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 0;
    margin-bottom: 20px;
    min-height: 714px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 1px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.u-section-5 {
  background-image: url("images/bgpage6.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 710px;
}

.u-section-5 .u-text-1 {
  text-align: center;
  width: 680px;
  font-size: 3rem;
  margin: 34px auto 0;
}

.u-section-5 .u-list-1 {
  width: 940px;
  margin: 105px auto 10px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  min-height: 509px;
  grid-gap: 100px 100px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  animation-timing-function: ease-in-out;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-5 .u-image-1 {
  width: 286px;
  height: 286px;
  background-image: url("images/pp-mas-latif.png");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-list-item-2 {
  animation-timing-function: ease-in-out;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-5 .u-image-2 {
  width: 286px;
  height: 286px;
  background-image: url("images/gw2.jpeg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 3px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 3px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-2 {
    width: 247px;
    height: 247px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 3px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-5 .u-list-1 {
    width: 467px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 918px;
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-social-icons-2 {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 382px;
    margin-top: 109px;
    margin-bottom: 47px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-bottom: 0;
  }
}

.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 575px;
}

.u-section-6 .u-text-1 {
  width: 680px;
  margin: 42px auto 0;
}

.u-section-6 .u-video-1 {
  height: 409px;
  width: 674px;
  filter: brightness(0.85);
  margin: 42px auto 30px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-video-1 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-video-1 {
    height: 328px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-6 .u-video-1 {
    height: 207px;
    width: 340px;
  }
}

.u-section-7 .u-sheet-1 {
  min-height: 849px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 140px auto 0;
}

.u-section-7 .u-image-1 {
  width: 143px;
  height: 141px;
  animation-timing-function: ease-in-out;
  transition-duration: 0.5s;
  margin: -238px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 997px;
  height: 291px;
  margin: 221px auto 0;
}

.u-section-7 .u-gallery-1 {
  width: 782px;
  height: 545px;
  grid-gap: 10px 10px;
  margin: -375px auto 20px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 50px;
  top: 194px;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  top: 194px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    width: 720px;
  }

  .u-section-7 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-7 .u-shape-1 {
    width: 540px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
    margin-bottom: 40px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-2 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-3 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 148px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -226px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 131px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-1 {
    height: 405px;
    margin-top: -324px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-2 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-3 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-7 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(359deg) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r), var(--undefined-g), var(--undefined-b), 0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r), var(--undefined-g), var(--undefined-b), 0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-7 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-7 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(359deg) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r), var(--undefined-g), var(--undefined-b), 0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r), var(--undefined-g), var(--undefined-b), 0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-7 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 450px;
}

.u-section-8 .u-text-1 {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
  font-size: 3rem;
  width: 489px;
  margin: 21px auto 0;
}

.u-section-8 .u-shape-1 {
  width: 570px;
  height: 330px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: -301px;
  margin-bottom: 31px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 276px;
}

.u-section-8 .u-container-layout-1 {
  padding: 9px 7px 30px;
}

.u-section-8 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 15px auto 0 20px;
}

.u-section-8 .u-text-2 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -41px 20px 0 75px;
}

.u-section-8 .u-text-3 {
  margin: 24px 20px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 276px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-8 .u-text-4 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-8 .u-text-5 {
  margin: 11px 10px 0 22px;
}

.u-section-8 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 11px auto 0 22px;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 276px;
}

.u-section-8 .u-container-layout-3 {
  padding: 27px 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1px 19px 0;
}

.u-section-8 .u-text-7 {
  margin: 20px -10px 0 48px;
}

.u-section-8 .u-icon-5 {
  width: 20px;
  height: 20px;
  margin: -68px auto 0 19px;
}

.u-section-8 .u-text-8 {
  margin: 48px 19px 0;
}

.u-section-8 .u-icon-6 {
  font-size: 1.25em;
}

.u-section-8 .u-text-9 {
  font-weight: 400;
  margin: 0 19px;
}

.u-section-8 .u-icon-7 {
  font-size: 1.25em;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-8 .u-shape-1 {
    height: 355px;
    margin-top: 5px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -328px;
    margin-bottom: 26px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-8 .u-text-6 {
    margin-top: -2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-8 .u-icon-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-8 .u-shape-1 {
    height: 412px;
    margin-top: 11px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -386px;
    margin-bottom: 22px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: -7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 5px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 354px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 7px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 31px;
  }

  .u-section-8 .u-icon-5 {
    margin-top: -95px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 9px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-8 .u-shape-1 {
    width: 364px;
    height: 763px;
    margin-left: 80px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -736px;
    margin-bottom: 39px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 276px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-5 {
    margin-top: -44px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-shape-1 {
    width: 249px;
    height: 804px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -783px;
    margin-bottom: 26px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-8 .u-container-layout-3 {
    padding: 26px 0 0;
  }

  .u-section-8 .u-text-6 {
    margin-top: -1px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-8 .u-text-7 {
    margin-right: -2px;
    margin-left: 62px;
  }

  .u-section-8 .u-icon-5 {
    margin-top: -68px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }
}